*
{
    padding: 0;
    margin: 0;
    font-size: 3vmin;
    box-sizing: border-box;
}

button, button:active, button:focus
{
    border: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(44, 2, 72);
}

#Number
{
    width: 10vw;
    height: 10vh;
    background: rgb(27, 10, 182);
    color: white;
    box-shadow: 0 0 2vw 2vw rgba(27, 10, 182,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    border: 0.2vw solid black;
}

#Button
{
    margin-top: 5vh;
    width: 10vw;
    height: 10vh;
    background: rgb(27, 10, 182);
    color: white;
    box-shadow: 0 0 2vw 2vw rgba(27, 10, 182,0.5);
    border-radius: 1vw;
    border: 0.15vw solid white;
}